<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test">
    <test name="Test">
        <groups>
            <define name="Regression1">
                <include name="Regression1"/>

            </define>
            <define name="Regression2">
                <include name="Regression2"/>
            </define>
            <run>
                <include name="Regression2"/>
            </run>
        </groups>
        <classes>
            <class name="Main"/>
        </classes>
    </test>
</suite>
